* {
    margin: 0;
    padding: 0;
    /* margin-top: 2px; */
}

#main {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
}

ul .top {
    text-decoration: none;
}

.top {
    text-align: left;
}

.top li {
    display: inline-block;
    margin-right: 2%;
}

.linkedin {
    height: 20px;
    margin-left: 3px;
}

.linkedin:hover {
    transform: scale(1.5);
}

.youtube {
    height: 20px;
}

.youtube:hover {
    transform: scale(1.5);
}

.github {
    height: 20px;
}

.github:hover {
    transform: scale(1.5);
}

.nav {
    border-style: solid;
    width: 100%;
    border-width: 1px;
    color: red;
}


.title {
    margin-top: 10px;
    text-align: center;
}

#title_for_todo,#description_for_todo {
    height: 22px;
    width: 468px;
}

.aim,
.description {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: red;
    margin-top: auto;
}

/* .footer {
    text-align: center;
    position: fixed;

    position:fixed;
    left: 10px;
    bottom: 5px;
    right: 10px;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
} */

input[type="text"]::placeholder {
    text-align: center;
}
table{
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;

}
#tableBody{
    color:white;
    font-weight: bold;
}
#del:hover{
    background-color: red;
}
#submit:hover{
    background-color: lightgreen
}
@media screen and (max-width: 720px) {
    #main{
        background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
    }
    #title_for_todo,#description_for_todo{
            width: 100%;
    }
    #tableBody{
        color: black;
    }
    /* .table{
        display: none;
    } */
    /* .github,.youtube{
        display: none;
    } */
}
#hide{
    width: 100%;
}